# ----------------------------
# System & Editor files
# ----------------------------
.DS_Store
Thumbs.db
.log
npm-debug.log
yarn-error.log

/.fleet
/.idea
/.vscode
/.zed
/.nova
/.vagrant

# ----------------------------
# Environment files
# ----------------------------
.env
.env.backup
.env.production
auth.json
Homestead.yaml
Homestead.json

# ----------------------------
# PHP / Laravel
# ----------------------------
/vendor
/phpunit.result.cache
/.phpunit.cache
.phpactor.json

/storage/*.key
/storage/pail

# ----------------------------
# Node / Vite
# ----------------------------
/node_modules
/public/build
/public/hot

# ----------------------------
# Laravel public storage
# ----------------------------
/public/storage
/public_html/storage
/public_html/hot
